---
---

@import "{{ site.theme }}";
@font-face{   
      font-family: Font1;   
      src: url('https://cdn.jsdelivr.net/gh/zhs141/zhs141.github.io/HELPME/op.ttf');   
}  
body{  
    font-family: Font1; 
}
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: Font1, 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  background: #2e7bcf url(../images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}

header h1 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0.2em;
  font-size: 72px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  letter-spacing: -1px;
}

header h2 {
  width: 540px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: 1.3;
  color: #9ddcff;
  letter-spacing: 0;
}